<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: darkslategrey">
    <div class="container">
        <div class="row pt-3">
            <div class="col-5 mr-auto " style="height:100px;background-color: deeppink;"></div>
            
            <div class="col-3  " style="height: 100px; background-color: greenyellow"></div>
        </div>
    </div>
    <div class="container">
        <div class="row pt-3">
            <div class="col-6" style="background-color: firebrick; height: 500px;"></div>
            <div class="col-6" style="background-color: gold"></div>
        </div>


    </div>
    <div class="container">
        <div class="row pt-3">
            <div class="col-12" style="height: 100px; background-color: mediumorchid;"></div>

        </div>
    </div>
    
</body>
</html>