body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Link{
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.Link:hover{
    color: blue;
    cursor: pointer;
}

.Image{
    background-image: url(1.jpg);
    height: 500px;
    

}
.text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work{
    background-image: url(2.jpg);
    height: 600px; 
}
.Img{
    background-image: url(4.jpg);
    height: 500px;
}
